body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-image: url("../css/fondolegal.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}
.logogps {
	background-image: url("../css/logoubitec.gif");
	background-size: 100% 100%;
    display: inline-block;
	margin-left: -700px;
	width: 110px;
	height: 110px;
}
h1 {
	color: rgb(206, 203, 203);
}
.caja {
    width: 790px;
	padding: 15px 15px 30px 15px;
	background-color: #1a0c0ca9;
	border-radius: 20px;
	margin: 20px auto;
}
input[type="text"], input[type="password"]{
    width: calc(100% - 80px);
    outline: none;
    padding: 20px;
    display: block;
    border-radius: 10px;
    border: 1px soled #eee;
    margin: 20px auto;
}

input[type="submit"], input[type="button"]{
    padding: 10px;
    color: #fff;
    font-size: 18px;
	background-color: #0a884d;
    width: calc(100% - 40px);
    margin: 5px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

input[type="submit"]:hover, input[type="button"]:hover{
    background-color: #146c43;
    transition: .3s;
}
header {
    border-bottom: 4px solid #1a0c0ca9;
    padding: 10px 0 5px 0;
    width: 100%;
    font-family: comic sans MS;
    font-style: italic;
    font-size: 40px;
	text-shadow: 4px 4px 4px black;
    font-weight: bold;
    text-align: center;
}
header a{
    text-decoration: none;
    animation: animate 3s infinite;
}
@keyframes animate{
	0% {color: #8a9597;}
	33% {color: #191919;}
    66% {color: gray;}
    100% {color: white;}
}
@media screen and (min-width:645px) and (max-width:1025px){
	.caja {
		width: 640px;
	}
	.logogps {
		width: 70px;
		height: 70px;
	}
}
@media screen and (min-width:489px) and (max-width:645px){
	.caja {
		width: 439px;
	}
	.logogps {
		width: 50px;
		height: 50px;
	}
}